@charset "utf-8";
/* CSS Document */
body {
	background-color: #000;
	margin: 0px;
	overflow: hidden;
}

#info {
	width: 100%;
	color: #ffffff;
	padding: 5px;
	font-family: Monospace;
	font-size: 14px;
	text-align: center;
}

#container{
	width: 100%;	
}

img#next{
	float: right;
	width: 50px;
	z-index:+5;
}
img#prev{
	width: 50px;
	z-index:+5;	
}
#next, #prev{ visibility:visible;
}
img:hover, button#fs:hover{
	cursor:pointer;
}

a{
	color: #ff0080;
	text-decoration: none;
}

a:hover {
	color: #0080ff;
}



