@charset "utf-8";
/* CSS Document */

div#pijltjes{
	    display: none;
		position:absolute;
		top: 5%;
		left: 5%;
		margin: auto auto;    /* ruimte er omheen, top left, bottom, right */
		width: 70%;
		padding: 1%;    
		box-sizing: border-box;
		text-align: center;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		pointer-events: none;
		z-index: 10; /* TODO Solve this in HTML */
}
div#navigator{
	position: relative;
	width: 40%; 
	text-align: center;	
	margin: auto;
	background-color:blueviolet;
	border-radius:  30px;
	z-index: 15;
}

img{ 
	position: absolute; 
	top: 5px; 
}
img#home{
	width:10%;
	height:1%; 
}

img#prev{
	position:absolute; 
	left:0px;	
	z-index:+5;		
}
img#next{
	position:absolute; 
	right:0px;
	z-index:+5;
}

#next, #prev{ 
	 visibility:visible;
	 width:5%; 	
}	
img:hover, #info{
	cursor:pointer;
}
/*
IPhone: (3) 320×480; (4)960×640	 (5) 1136×640
IPAD (2) 1024×768 (3) 2048×1536
*/
@media screen and (min-width: 300px) and (max-width: 800px)  
   and(orientation:portrait) {
	body{
		background-color: #000;
	}
	div#container{
		top: 100px; 
		z-index:-1
	}
	#info{
		display:none;
	}
}
@media screen and (min-width: 300px) and (max-width: 800px)  
   and(orientation:portrait) {    /* IPhone 6s */
div#container{
		top: 150px;
		background-color:#000;
	}
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
div#container{
		top: 0px;
		background-color:#000;
	}
}