@charset "utf-8";
/* CSS Document */
body{
	margin: 0px;
	padding: 0;		
/*	background-color:silver; 			 */
	overflow: hidden;
}


#info {
	position: absolute;
	top: 0px; width: 100%;
	color: #ffffff;
	padding: 5px;
	font-family:Monospace;
	font-size:13px;
	font-weight: bold;
	text-align:center;
	z-index:10			
}
			


